body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.top_div{
  margin: 3rem;
}

ul {
  list-style: none;
}

p {
  text-align: center;
}

/*헤더*/
.header_nav>ul {
  display: flex;
  flex-direction: row;
  justify-content: end;
  margin-block-start: 1rem;
  margin-block-end: 1rem;
}
.header_nav li {
  padding-left: 2rem;
  border-radius: 1rem;
  border-color: black;
}
.header_nav a {
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-radius: 5px;
  font-size: 2rem;
}
a:hover{
  background-color: black;
  color: white;
}

/*소개*/
.AboutMe_content>div {
  display: flex;
  flex-wrap: wrap;
  max-width: 60rem;
  justify-content: center;
}
.AboutMe_basic_info_wrapper>div {
  width: 20rem;
}

/*프로젝트*/
/*스킬*/
/*컨텍*/
/*푸터*/